.postform-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(37, 48, 59);
    color: whitesmoke;
    font-family: IndieFlower;
    padding: 0px;
    margin: 0px;
    overflow: scroll;
}

.postform-title {
    font-size: 2rem;
}

.postform-form {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    padding: 20px;
    min-width: 400px;
}

.postform-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6em;
    margin-bottom: 10px;
    width: 70%;
}

.postform-input {
    background-color: rgb(37, 48, 59);
    border: 1px solid whitesmoke;
    border-radius: 12px;
    color: whitesmoke;
    width: 100%;
    height: 80px;
    text-align: center;
}

.caption-counter {
    text-align: right;
    font-size: 1.2rem;;  
}

.postform-button{
    color: whitesmoke;
    background-color: rgb(37, 48, 59);
    border: 2px solid orange;
    border-radius: 12px;
    font-family: IndieFlower;
    font-size: 1.3em;
    margin-top: 25px;
    padding: 5px 15px 5px 15px;
}

.postform-button:hover {
    color: lightblue;
    border-color: whitesmoke;
    cursor: pointer;
}

.postform-image-input {
    font-family: IndieFlower;
    font-size: 1.1em;
    padding: 0;
    margin: 0;  
}

input[type=file]::file-selector-button {
    color: whitesmoke;
    background-color: rgb(37, 48, 59);
    border: 2px solid orange;
    border-radius: 12px;
    font-family: IndieFlower;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  
  input[type=file]::file-selector-button:hover {
    color: lightblue;
    border-color: whitesmoke;
    cursor: pointer;
  }


  .form-error {
    color: red;
    font-size: 20px;
  }

.postform-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 0px;
}

.postform-image-preview {
    max-height: 200px;
    max-width: 70%;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-input-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 12px;
}