.post-container {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    /* width: 600px; */
    max-width: 600px;
    min-width: 200px;
    margin: 15px 5px 15px 5px;
}

.post-header {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    font-family: IndieFlower;
    font-size: 1.4em;
    border-bottom: 2px solid whitesmoke;
    background-color: rgba(173, 216, 230, .2) ;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: IndieFlower;
    text-align: start;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-image {
    height: 60px;
    width: 60px;
    border: 1px solid white;
    border-radius: 45px;
    margin: 0px 20px 10px 10px;
}

.content-image {
    height: auto;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}


.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0px 0px 10px 10px;
}

.post-footer span {
    margin: 0px 10px 0px 10px;
}

.post-likecomment-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.post-editdelete-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.post-editdelete-container svg {
    margin-right: 10px;
}