.signup-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 48, 59);
    color: whitesmoke;
    font-family: IndieFlower;
    padding: 0px;
    margin: 0px;
}

.signup-title {
    font-size: 4rem;
}

.signup-form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    padding: 20px;
    min-width: 400px;
    overflow: scroll;
}

.signup-form-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 20px;
    width: 70%;
}

.signup-form-label input {
    background-color: rgb(37, 48, 59);
    border: 1px solid whitesmoke;
    border-radius: 12px;
    color: whitesmoke;
    width: 100%;
    height: 30px;
    text-align: center;
}

.signup-form-label textarea {
    background-color: rgb(37, 48, 59);
    border: 1px solid whitesmoke;
    border-radius: 12px;
    color: whitesmoke;
    width: 100%;
    height: 80px;
    text-align: center;
}

.signup-form-button {
    color: whitesmoke;
    background-color: rgb(37, 48, 59);
    border: 2px solid orange;
    border-radius: 12px;
    font-family: IndieFlower;
    font-size: 2em;
    margin-top: 25px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}

.signup-form-button:hover {
    color: lightblue;
    border-color: whitesmoke;
}

.signup-login-wrapper {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    max-width: 400px;
}

.signup-login-wrapper a {
    color: lightblue;
    text-decoration: underline;
    text-decoration-color: orange;
}

.signup-login-wrapper a:hover {
    color: orange;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

.signup-image-input-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 12px;
    margin-bottom: 10px;
}

.signup-image-input {
    font-family: IndieFlower;
    font-size: 1.1em;
    padding: 0;
    margin-bottom: 12px;  
    margin-left: 10px;
}