/* TODO: Add sitewide styles */
@font-face {
    font-family: Billabong;
    src: url('./assets/fonts/Billabong.ttf');
}

@font-face {
    font-family: IndieFlower;
    src: url('./assets/fonts/IndieFlower.ttf');
}

body {
    box-sizing: border-box;
    margin: 0px;
}


.light {
    background-color: tan;
    color: rgb(109, 69, 19);
    border-color:  rgb(109, 69, 19);
    border-bottom-color:  rgb(109, 69, 19);
  }
  
  .dark {
    background-color: rgb(37, 48, 59);
    color: whitesmoke;
    border-color: whitesmoke;
    border-bottom-color: whitesmoke;
  }