/* TODO: Add sitewide styles */
@font-face {
    font-family: Billabong;
    src: url('./Billabong.ttf');
}

@font-face {
    font-family: IndieFlower;
    src: url('./IndieFlower.ttf');
}

body {
    box-sizing: border-box;
    margin: 0px;
}