.navbar-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(37, 48, 59);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
}

.navbar-subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  height: 75px;
  width:  75px;
  margin-right: 25px;
}

.navbar-title {
  font-family: Billabong;
  color: lightblue;
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  text-shadow: rgb(255, 165, 0) -1px 1px 0px, 
  rgb(255, 165, 0) 1px 1px 0px; 
}


.navbar-navlink {
  font-family: IndieFlower;
  font-size: 1.5rem;
  color: lightblue;
  text-decoration: underline;
  text-decoration-color: orange;
}

.navbar-navlink:hover {
  color: orange;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}



.profile-dropdown {
  position: absolute;
}