.profile-button {
    color: whitesmoke;
    font-size: 2.2em;
    background-color: rgb(37, 48, 59);
}


.profile-dropdown {
    background-color: rgb(37, 48, 59);
    border: 2px solid whitesmoke;
    border-radius: 12px;
    color: whitesmoke;
    padding: 10px;

}